body {
    background-color: #F1DDBF;
}

.card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-width: 1px;
    border-radius: 10px;
    padding: 30px;
    color: white;
    text-align: center;
    flex: 0 0 400px;
    margin-top: 80px;
    width: 800px;
    height: 700px;
    margin:auto;
    margin-top: 80px;
    border: #525E75 5px solid;
  }

.card button{
    margin: auto;
    margin-top: 10px;
}

::placeholder {
    color: white; 
    margin: auto;
}


input {
    margin: auto;
}

<<<<<<< HEAD
footer {
    border: #525E75 5px solid;

}

#author-section {
    margin: auto;
}

a {
    margin-right: 30px;
    color: white;
}

a:hover {
    color: #525E75;
=======
nav {
    background-color: #9FC088;
>>>>>>> c33e8c3c322be3922adf294db5f58a365deced79
}